@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2);
    font-weight: 200px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff);
    font-weight: 300px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2);
    font-weight: 400px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2);
    font-weight: 500px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2);
    font-weight: 600px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2);
    font-weight: 700px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/file.woff2);
    font-weight: 800px;
}

@font-face {
    font-family: 'bytes';
    src: url(/public/assets/fonts/file\ \(1\).woff2);
}